BÀI 1 - TÌM HIỂU PYTHON

Câu lệnh đầu tiên: print()

In [19]:
print("Xin chào Python")
print('Xin chào bạn')
print(""""************************************
           * LẬP TRÌNH CĂN BẢN *
            * Ngôn ngữ: PYTHON *
************************************""") 
#newline

Xin chào Python
Xin chào bạn
"************************************
           * LẬP TRÌNH CĂN BẢN *
            * Ngôn ngữ: PYTHON *
************************************

In [21]:
A = 5
B = 6
print(A+B)

11

Cú pháp: <tên biến> = giá trị

In [30]:
A = 6 #Z
B = 6 #Z
C = 7.8 #R
D = True #Logic
E = "Python"
print(id(A))
print(id(B))
print(type(A)) #integer
print(type(C)) #float
print(type(D)) #Logic
print(type(E)) #String

140122657407376
140122657407376
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [35]:
A = B = C = 10
D, E, F = 5, 6, 7
print(A)
print(B)
print(C)
print(D)
print(E)
print(F)

10
10
10
5
6
7

In [33]:
A

10

In [39]:
A = 11 
a = 12
bai_1 = 5
print(A,a)

11 12

In [42]:
A = [2,5,6,3,7]
max = 3
print(max)

3

In [49]:
gan = "Python"
dulieu = 3
print(gan, end=" ")
print(dulieu)

Python 3

Câu lệnh input()

In [55]:
ten = input("Bạn tên là gì?")
print('Tôi tên là:',ten)

Bạn tên là gì?Long
Tôi tên là: Long

In [61]:
name = print(input("Bạn tên là gì? "))

Bạn tên là gì? Long
Long

In [65]:
A = 10
B = 15.5
C = "101"
E = int(B)
F = int(C)
G = float(A)
print(type(A))
print(type(E))
print(type(F))
print(type(G))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [66]:
A = 10
B = 15.5
B = int(B)
print(type(A))
print(type(B))

<class 'int'>
<class 'int'>